* { /* universal selector, we are resseting all formatting */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:grey;
}

#header {
    background-color: aquamarine;
    text-align: right;
    border-color: white;
    border-width: 4em;
    font-family: 'Times New Roman', Times, serif;
}




