* { 
    margin: 2px;
    padding: 2px;   
}

#container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 800px;
    background-color: white;
    padding: 20px;
    border: 1px solid lightgray;
}



#header {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 800px ;
    background-color: aquamarine;
    text-align: right;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
}

#left_side {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left; 
    width: 200px;
    background-color: aquamarine; 
    border: 2px solid teal; 
    padding: 15px;
    
}


#right_side {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left; 
    width: 600px; 
    background-color: lightblue;
    
}

.text_box {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid teal; 
    
}


img {
    float: right;
    max-width: 150px;
    max-height: 150px;
}


body {
      background-image: url('bg.png');
      background-repeat: repeat; 
    }